<%- include('header_loged'); -%>
    <main>
        <h1>¿Nintendo Switch, PS4, o Xbox One?</h1>
        <p>No has contestado a esta pregunta</p>
        <button class="input_button">Contestar pregunta</button>
        <p>Los siguientes amigos han contestado a esta pregunta</p>
        <div class="friends">
            <div class="friend">
                <img src="/images/friend.png" alt="">
                <h3>Bruja Piruja</h3>
                <div>
                    <button class="input_button">Adivinar</button>
                </div>
            </div>
            <div class="friend">
                <img src="/images/friend.png" alt="">
                <h3>Stuart Minion</h3>
                <div>
                    <button class="input_button">Adivinar</button>
                </div>
            </div>
            <div class="friend">
                <img src="/images/friend.png" alt="">
                <h3>Mike Wazowski</h3>
                <div>
                    <h5 class="right">Has acertado</h5>
                </div>
            </div>
            <div class="friend">
                <img src="/images/friend.png" alt="">
                <h3>Marco Polo</h3>
                <div>
                    <h5 class="wrong">Has fallado</h5>
                </div>
            </div>
        </div>
    </main>
<%- include('footer'); -%>